section {
    background: url("../img/workplace-2341642_1920.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

article {
	display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
    justify-items: stretch;
    align-items: stretch; 
    mix-blend-mode: lighten;
	background: white;
	padding: .2em;
	text-align: center;
}

.celda { 
    padding: .5em;
	background: black;
	height: 46.5vh;
	overflow: hidden;
}

section div:nth-of-type(2) {
	grid-column: 2 / 4;
}

.contenedor {
	position: relative;
	/*
	width: 100%;
	top: 0;
	/*text-align: center;*/   
}

.panel {
    height: 100%;
}

.contact-panel, .panel {
	display: flex;
	flex-wrap: row wrap;
	justify-content: space-around; /* space-between; */
	position: relative;
	width: 100%;
	top: 50em;
	transition: .5s ease;
	/*height: 28em;*/
	background-color: #f2f3f4 ;
	/*opacity: .5;*/
}

.contenedor:hover .contact-panel,
.contenedor:hover .panel {
	top: 0;
	transition: .5s ease;
}

.contact-panel > div {
	
}

.contact-form, .contact-social {
	mix-blend-mode: normal;
	background: black;
}

.contact-form {
	
	width: 80em;
	margin: .5em;
	padding: .5em;
}

.contact-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; /*space-between;*/
    align-items: center;
	width: 100%;

	display: -webkit-flex;
	-webkit-flex-direction: row;
}

.contact-social > div {
	-webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -o-flex: 1 1 auto;
	flex: 1 1 auto;

	-webkit-transition: width 0.7s ease-out;
    -moz-transition: width 0.7s ease-out;
    -o-transition: width 0.7s ease-out;
	transition: width 0.7s ease-out;

	margin: 1em;
	padding: 1em;
	
	background: rgb(46, 94, 207);
	background: -moz-linear-gradient(30deg, rgb(46, 94, 207) 20%, rgb(90, 140, 250) 80%);
	background: -webkit-linear-gradient(30deg, rgb(46, 94, 207) 20%, rgb(90, 140, 250) 80%);
	background: -o-linear-gradient(30deg, rgb(46, 94, 207) 20%, rgb(90, 140, 250) 80%);
	background: -ms-linear-gradient(30deg, rgb(46, 94, 207) 20%, rgb(90, 140, 250) 80%);
	background: linear-gradient(120deg, rgb(46, 94, 207) 20%, rgb(90, 140, 250) 80%);
}


.contact-social > div a { 
	font-size: 70px;
    color: white;
}

.blend-off {
    mix-blend-mode: normal;
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
